.about{
	padding-top: 115px;
	padding-bottom: 80px;
	background: #000;
	background: url('../img/about_bg.jpg') no-repeat top center;
	background-size: cover;
	.about__title{
		// font-size: 100px;
		font-weight: 700;
		margin-bottom: 100px;
		color: #fff;
		// @media only screen and (max-width: 767px) {
			font-size: 70px;
		// }
		span{
			position: relative;
			&:before{
				display: block;
				content: '';
				// width: 25px;
				// height: 25px;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 25px;
				background:#ebba22;
				// @media only screen and (max-width: 767px) {
					width: 16px;
					height: 16px;
				// }
			}
			line-height: 1;
			display: inline-block;
			&:last-child{
				&:before{
					margin: 6px auto 0;
					// @media only screen and (max-width: 767px) {
						// margin-top: 6px;
					// }
				}
			}
			&:first-child{
				&:after{
					display: block;
					content: '';
					width: 165px;
					height: 96px;
					position: absolute;
					left: -75px;
					bottom: -45px;
					background: url('../img/about__bottom.png') no-repeat center;
					
					@media only screen and (max-width: 767px) {
						display: none;
					}
				}
			}
		}
	}

	.about__content{
		max-width: 1050px;
		margin: 0 auto;
		.content__p{
			margin-bottom: 30px;
		}
		p{
			color: #fff;
			font-size: 20px;
			line-height: 1.2;
			text-align: justify;
		}
		.pull-right{
			padding-left: 20px;
		}
		img{
			max-width: 100%;
			height: auto;
			@media only screen and (max-width: 767px) {
				float: none!important;
				display: block;
				margin: 0 auto 40px;
			}
		}
		.pull-left{
			padding-right: 20px;
		}
	}
}