.header{
	background: url('../img/header.jpg') no-repeat top center;
	background-size: cover;
	padding-top: 90px;
	.container{
		@media screen and (min-width: 1200px) {
			width: 100%;
			max-width: 1300px;
		}
		img{
			max-width: 100%;
			height: auto;
			user-select: none;
		}
		.header-logo{
			position: relative;
			padding-top: 220px;
			padding-bottom: 260px;
			.logo__arrow{
				user-select: none;
				position: absolute;
				@media screen and (max-width: 1120px) {
					display: none;
				}
				&-right{
					top: 90px;
					width: 500px;
					height: 279px;
					background: url('../img/right-arrow.png') no-repeat top center;
					background-size: 100%;
					right: 25px;
				}
				&-left{
					bottom: 135px;
					width: 500px;
					height: 292px;
					background: url('../img/left-arrow.png') no-repeat top center;
					background-size: 100%;
					left: 0px;					
				}
			}
		}
	}
}


 @keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1.5deg);
        animation-timing-function: ease-out;
    }
}
 
@keyframes keyframes2 {
    0% {
        transform: rotate(1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-1.5deg);
        animation-timing-function: ease-out;
    }
}