.navbar{
	background-color: rgba(#100508,.5);
	border: 0;
	min-height: 90px;
	border-radius: 0;
	.navbar-header{
		height: 100px;
		.navbar-toggle{
			float: left;
			border: 0;
			margin-left: 25px;
			margin-top: 28px;
			.icon-bar{
				width: 32px;
				height: 4px;
			}
		}
	}
	li{
		font-size: 16px;
		&.active{
			a{
				text-decoration: none!important;
				span{
					border-bottom: 3px solid #ebba22!important;
				}
			}
		}
		a{
			font-size: 30px;
			color: #fff!important;
			text-decoration: none!important;

			&:hover{
				text-decoration: underline;
				span{
					border-bottom: 3px solid #fff;
				}
			}
		}
	}
	.container{
		position: relative;
		max-width: 1115px;
		margin: 0 auto;
	}
	
	.navbar-nav>li>a{
		padding: 34px 20px;
		@media screen and (max-width: 767px){
			padding-top: 10px;
			padding-bottom: 10px;
		}

		@media screen and (min-width: 767px) and (max-width: 991px){
			font-size: 24px;
			padding: 40px 10px;
		}
	}
	.embleme{
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 42px;
		padding-bottom: 60px;
		width: 172px;
		cursor: pointer;
		&:before{
			width: 172px;
			height: 220px;
			background: url('../img/embleme.png') no-repeat center;
			display: block;
			content: '';
			top: 0;
			left: 0;
			pointer-events: none;
			position: absolute;
		}
		.embleme-text{
			font-size: 24px;
			position: relative;
			z-index: 1;
			color: #fff;
			width: 100%;
		}
		.ico{
			margin: 16px auto 18px;
			width: 38px;
			height: 36px;
			background: url('../img/messages.png') no-repeat center;
			background-position: 0 0;
		}
		&:hover{
			.ico{
				background-position: -50px 0 ;
			}
		}
	}
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	// background-color: rgba(#100508,.6);
	background-color: transparent;
}