//
// Base
// --------------------------------------------------

html,body{
    height: 100%;
}
body{
	background: #fff;
	text-transform: none;
	overflow-x: hidden;
	position: relative;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	font-family: 'eurofurence', sans-serif;
	color: #000;
	&.modal-open{
		.feedback{
			right: -133px;
		}
		.navbar{
			padding-right: 17px;
		}
	}
}

a,
input{
	text-decoration: none;
	outline: none !important;
}

strong,
b{
	font-weight: 700!important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.feedback{
	position: fixed;
	width: 400px;
	height: 100px;
	color: #fff;
	display: block;
	font-size: 48px;
	font-weight: 700;
	top: 50%;
	right: -150px;
	z-index: 5;
	background: #ebba22;
	text-align: center;
	line-height: 100px;

	transform: rotate(-90deg);

	@media only screen and (max-width: 767px) {
		height: 50px;
		width: 200px;
		font-size: 24px;
		right: -75px;
		line-height: 50px;
		top: 50%;
		margin-top: -10px;
	}

	&:hover,
	&:active,
	&:focus{
		text-decoration: none;
		color: #fff;
		background: darken(#ebba22,5%);
	}
}



.modal{
	&#feedbackModal{
		.modal-content{
			background: #ebba22;
		}
		&.fade{
			.modal-dialog{
				transform: translate(25%,0);
			}
		}
		&.in{
			.modal-dialog{
				transform: translate(0,0);
			}			
		}
	}

	&#buyDesign{
		.modal-content{
			background: #a5c03d;
		}
	}
	.modal-content{
		padding: 0 50px;

		@media only screen and (max-width: 767px) {
			padding: 0 20px;
		}
		border-radius: 0;
		.close{
			// display: none;
			opacity: 1;
			color: #fff;
		}
		form{
			.form-group{
				margin-bottom: 35px;
			}
			.form-control{
				border: 0;
				border-radius: 0;
				box-shadow: inset -1.8px 4.7px 17.6px 0.4px rgba(0, 0, 0, 0.5);
				resize: none;
				font-weight: 700;
			}
			input{
				&.form-control{
					height: 50px;
					font-size: 30px;
				}
			}
			textarea{
				&.form-control{
					height: 200px;
					font-size: 30px;
				}
			}

			.btn{
				color: #fff;
				font-size: 30px;
				width: 100%;
				max-width: 306px;
				height: 55px;
				padding: 0;
				line-height: 55px;
				border-radius: 0;
				border: 0;

				background: #363636;
				font-weight: 700;

				&:hover{
					background: rgba(#363636,15%);
				}
			}
		}
	}
	.modal-header{
		border-bottom: 0;
		.modal-title{
			font-size: 48px;
			color: #fff;
			font-weight: 700;

			@media only screen and (max-width: 767px) {
				font-size: 32px;
			}
		}
	}
}